.tw-none * {
  @apply leading-relaxed;
}

.tw-none h1 {
  @apply my-4 text-xl font-black;
}
.tw-none h2 {
  @apply my-4 text-lg font-black;
}
.tw-none h3 {
  @apply my-4 text-base font-black;
}

.tw-none h4 {
  @apply my-4 text-sm font-black;
}

.tw-none h5 {
  @apply my-4 text-xs font-black;
}

.tw-none h6 {
  @apply my-4 text-xs font-black;
}

.tw-none p,
.tw-none span {
  @apply mb-3 break-words;
}

.tw-none ul {
  @apply my-3 px-6;
}

.tw-none strong {
  @apply font-semibold;
}

.tw-none ul li {
  @apply list-disc;
}

.tw-none ol {
  @apply my-4 px-6;
}

.tw-none ol li {
  @apply list-decimal;
}

.tw-none blockquote {
  @apply my-4 border-l-4 p-1 pl-4;
}

.tw-none hr {
  @apply my-4 border-skin-color/30;
}

.tw-none tr,
.tw-none td,
.tw-none thead,
.tw-none tbody,
.tw-none th {
  @apply m-1 border-2 border-skin-color/20 p-1 px-3 text-left;
}

.tw-none th {
  @apply font-semibold;
}

.tw-none pre {
  @apply my-3 overflow-x-auto rounded bg-skin-color/5 p-3 shadow-sm;
}

.tw-none code {
  @apply font-sans;
}

.tw-none table {
  @apply my-5 overflow-hidden rounded-sm;
}

.tw-none a {
  @apply w-fit rounded-sm font-medium text-[#146dad] decoration-2 underline-offset-2 outline-none hover:underline hover:opacity-70 focus:underline;
}

.tw-none img {
  @apply my-3 h-72 w-full max-w-lg rounded bg-skin-color/10 object-cover;
}

.tw-none input[type="checkbox"] {
  @apply relative top-[2px] aspect-square w-4 appearance-none rounded-sm border-2 border-skin-color/50 after:absolute after:-top-[2px] after:left-[2px] after:hidden after:aspect-square after:w-1 after:text-xs after:content-['\2713'] checked:after:block;
}

@media print {
  .printable {
    display: block;
    padding-top: 2rem;
  }
  .not-printable,
  .menu,
  section {
    display: none;
  }
  hr {
    visibility: hidden;
    margin: 2rem 0;
  }
  body {
    -webkit-print-color-adjust: exact;
  }
}
